.con {
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.con .imgBx {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
}

.con .imgBx img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.con .selectedItem {
  border: 5px solid rgba(196,206,232,255);
  width: 300px;
  height: 200px;
  /* border-radius: 5px; */
  transform: translate(-50px);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px
}

.con .selectedItem h3{
  font-size: 25px;
  font-weight: 400;
}

.con .selectedItem input {
  width: 280px;
  padding: 5px 8px;
  margin-bottom: 15px;
  border: 2px solid rgba(196,206,232,255);
  outline: none;
}

.con .selectedItem button {
  width: 120px;
  background: rgba(196,206,232,255);
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 3px;
  border: none;
  /* transform: translateX(-68px); */
  cursor: pointer;
  transition: all ease-in-out 0.8s;
}

.con .selectedItem button:hover {
  background: rgba(157,175,206,255);

}
