.container {
  /* border: 2px solid yellow; */
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
}

.container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .form h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 50px;
  color: #1c223c
}
.container .form form .group{
  display: flex;
  flex-direction: row;
}

.container .form form input {
  width: 400px;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid rgba(157,175,206,255);
  transform: translateX(50px);
  margin-left: 150px;

}

.container .form form button {
  width: 120px;
  background: rgba(196,206,232,255);
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  border: none;
  transform: translateX(-68px);
  cursor: pointer;
  transition: all ease-in-out 0.8s;

}
.container .form form button:hover {
  background: rgba(157,175,206,255);
}

.container .view {
  /* border: 2px solid green; */
  margin-top: 50px;
}

.container .form .categories a{
  text-decoration: none;
  border-bottom: 2px solid #1c223c;
  cursor: pointer;
  transition: all ease-in-out 0.8s;
  color:rgb(0, 0, 51)
}

.container .form .categories
{
  width: 200px;
  font-size: 20px;
  transform: translate(-50px, 15px);

}

.container .imgBx {
  margin-left: 420px;
 width: 300px;
 /* border: 2px solid green; */
 height: 200px;
}


.container .imgBx img{
  width: 100%;
  /* border: 2px solid green; */
  height: 100%;
 }
/* . */
